{% extends 'store/layout.html' %}
{% load static %}
{% block content %}
    <div class="sort">
        <h4>Sort By:</h4>
        <form action=>
            <h5>Brand:</h5>
            {% for brand in brands %}
            <input type="checkbox" id="brand1" name="brand1" value="Hoka">
            <label for="brand1">Hoka</label><br>
            {% endfor %}
            {% for type in types %}
            <h5>Type:</h5>
            {% endfor %}
        </form>
    </div>
    <div class="gallery col-12">
        <div class="row">
            {% for product in products %}
                <div class="col-lg-3">
                    <div class="gallery-item">
                        <div class="content">
                            <a href="{% url 'product-info' pk=product.id %}"><img src="{{product.image}}" alt=""></a>
                            <h6><strong>{{product.name}}</strong></h6>
                            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                            <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
                        </div>
                    </div>
                </div>
        {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
        {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}

